

@model WebApplication1.Models.Order

<form asp-action="Create">
    <div>
        <label asp-for="FullName"></label>
        <input asp-for="FullName" />
    </div>
    <div>
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" />
    </div>
    <div>
        <label asp-for="OrderType"></label>
        <input asp-for="OrderType" />
    </div>
    <div>
        <label asp-for="OrderDate"></label>
        <input asp-for="OrderDate" />
    </div>
    <button type="submit">Save</button>
</form>